footer.footer
	.container.footer__container
		.footer__copyrights Portfolio © ArtZ
		+socials([
			{
				href: 'https://wa.me/79656956858',
				icon: 'wa',
				w: '26',
				h: '26'
			},
			{
				href: 'viber://chat?number=%2B79656956858',
				icon: 'viber',
				w: '26',
				h: '26'
			},
			{
				href: 'https://t.me/sempreyo',
				icon: 'tg',
				w: '26',
				h: '26'
			}
		], 'footer__socials')
