section.reviews
	.reviews__slider.js-border-container
		+border-anim('reviews__border')
		.reviews__bg
			img(src='./images/reviews/1.jpeg', alt='')
		.swiper-container.__js_slider
			.swiper-wrapper
				.reviews__slide.swiper-slide
					.reviews__content
						.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							|  Aliquam amet aspernatur at debitis, dolorem eaque eos esse libero nostrum obcaecati,
							|  provident quaerat quidem saepe totam vero voluptas voluptatem. Minima, quam!
						.reviews__author Tom Cruise
						.reviews__from Brutal Studio
				.reviews__slide.swiper-slide
					.reviews__content
						.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							|  Aliquam amet aspernatur at debitis, dolorem eaque eos esse libero nostrum obcaecati,
							|  provident quaerat quidem saepe totam vero voluptas voluptatem. Minima, quam!
						.reviews__author Tom Cruise
						.reviews__from Brutal Studio
				.reviews__slide.swiper-slide
					.reviews__content
						.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							|  Aliquam amet aspernatur at debitis, dolorem eaque eos esse libero nostrum obcaecati,
							|  provident quaerat quidem saepe totam vero voluptas voluptatem. Minima, quam!
						.reviews__author Tom Cruise
						.reviews__from Brutal Studio
			.swiper-pagination