extends ../layouts/default

block vars
	-
		const page = {
			title: 'Personal Portfolio by ArtZ'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/about.pug
	include ../blocks/portfolio.pug
	include ../blocks/reviews.pug
	include ../blocks/contacts.pug
