mixin popup()
	#popup-thanks.popup-thanks(style='display: none')
		.popup-thanks__title Thanks for contacting me!
		.popup-thanks__text The form is temporarily unavailable. Please use the contacts below. Sorry for the inconvenience.